<!DOCTYPE html>
<html>

<head>
	<title>{{pers.name}} - Resume</title>
	<meta name="description" content="The Resume of {{pers.name}}." />
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
	<div class="main-content">
		<header>
			<div>
				<h1 class="text-3xl font-bold">{{pers.name}}</h1>
				<h2 class="text-2xl">{{pers.jobTitle}}</h2>
			</div>
			<div class="grid grid-cols-3 gap-4">
				<div class="col-span-2">
					<div class="mt-5">
						{{#each summary}}
						<p>{{this}}</p>
						{{/each}}
					</div>
				</div>
				<div class="contacts mt-5">
					<ul>
						{{#if pers.website}}
						<li><span class="color-1">w:</span> <a href="{{pers.website}}">{{pers.website}}</a></li>
						{{/if}}

						{{#if pers.github}}
						<li><span class="color-1">g:</span> <a href="{{pers.github}}">{{pers.github}}</a></li>
						{{/if}}
						{{#if pers.linkedin}}
						<li><span class="color-1">l:</span> <a href="{{pers.linkedin}}">{{pers.linkedin}}</a></li>
						{{/if}}
						{{#if pers.mobile}}
						<li><span class="color-1">m:</span> {{pers.mobile}}</li>
						{{/if}}
						{{#if pers.kaggle}}
						<li><span class="color-1">k:</span> <a href="{{pers.kaggle}}">{{pers.kaggle}}</a></li>
						{{/if}}
					</ul>
				</div>

			</div>

		</header>
		<div class="grid grid-cols-3 gap-4">
			<div class="col-span-2 pr-5">
				<section class="mt-5">
					<h3>Work Experiences</h3>
					{{#each pastJobs}}
					<article class="mt-2">
						<header class="job-header grid grid-cols-3 gap-x-4">
							<div class="col-span-2 flex">
								<h4 class="mr-2">{{jobTitle}}</h4>
								(<span class="at">@</span> <span class="company-name">{{companyName}}</span>)
							</div>
							<span class="work-date">{{started}} - {{ended}}</span>
							
						</header>
						{{#each description}}
						<p>{{this}}</p>
						{{/each}}
						<div>
							<span class="color-1 font-bold italic">Tech:</span>
							<span class="italic">{{tech}}</span>
						</div>
					</article>
					{{/each}}
				</section>

				<section class="mb-2">
					<h3>Side Projects</h3>
					<ul>
						{{#each side_projects}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				</section>

				<section class="mb-2">
					<h3>Education</h3>
					{{#each educations}}
					<article>
						<h4>{{name}}</h4>
						<p class="">{{qualification}}</p>
						<p>{{description}}</p>
					</article>
					{{/each}}
				</section>
			</div>
			<div>
				<section>
					<h3>Personal Info</h3>
					<ul>
						{{#if pers.email}}
						<li><span class="font-bold">Email: </span><a href="mailto:{{pers.email}}"
								target="_blank">{{pers.email}}</a>
						</li>
						{{/if}}
						{{#if pers.natoIl}}
						<li><span class="font-bold">Born: </span>{{pers.natoIl}}</li>
						{{/if}}
						{{#if pers.basedOn}}
						<li><span class="font-bold">Based on: </span>{{pers.basedOn}}</li>
						{{/if}}
					</ul>
				</section>
				<section>
					<h3>Skills</h3>
					{{#each skills}}

					<ul
						class="{{#if @first}} list-image-[url(square.png)] {{/if}} {{#unless @first}} list-image-[url(circle.png)] {{/unless}} mb-5">
						{{#each this}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
					{{/each}}
				</section>

				<section>
					<h3>Languages</h3>
					{{#each languages}}
					<p class="">{{language}} - {{level}}</p>
					{{/each}}
				</section>
			</div>
		</div>
	</div>
</body>