<!DOCTYPE html>
<html>

<head>
	<title>{{pers.name}} - Curriculum Vitae</title>
	<meta name="description" content="The Curriculum Vitae of {{pers.name}}." />
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="headshot.jpg" alt="{{pers.name}}" />
			</div>

			<div id="name">
				<h1 class="">{{pers.name}}</h1>
				<h2 class="">{{pers.jobTitle}}</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<p class="personalData">
					{{#if pers.natoIl}}
					<span class="color-1">Born on:</span> {{pers.natoIl}}
					{{/if}} <br>
					<span class="color-1">Based in:</span> {{pers.basedOn}}
				</p>
				<ul>
					{{#if pers.email}}
					<li><span class="color-1">e:</span> <a href="mailto:{{pers.email}}"
							target="_blank">{{pers.email}}</a></li>
					{{/if}}
					{{#if pers.github}}
					<li><span class="color-1">g:</span> <a href="{{pers.github}}">{{pers.github}}</a></li>
					{{/if}}
					{{#if pers.linkedin}}
					<li><span class="color-1">l:</span> <a href="{{pers.linkedin}}">{{pers.linkedin}}</a></li>
					{{/if}}
					{{#if pers.mobile}}
					<li><span class="color-1">m:</span> {{pers.mobile}}</li>
					{{/if}}
					{{#if pers.website}}
					<li><span class="color-1">w:</span> <a href="{{pers.website}}">{{pers.website}}</a></li>
					{{/if}}
				</ul>

			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article class="summary">
					{{#each summary}}
					<p>{{this}}</p>
					{{/each}}
				</article>
				<div class="clear"></div>
			</section>

			<section>
				<div class="sectionTitle">
					<h2>Work Experiences</h2>
				</div>
				<div class="sectionContent">
					{{#each pastJobs}}
					<article>
						<header class="job-header">
							<h3>{{jobTitle}}</h3>
							<span class="subDetails">{{started}} - {{ended}}</span>
						</header>
						{{#each description}}
						<p>{{this}}</p>
						{{/each}}
					</article>
					{{/each}}
				</div>
				<div class="clear"></div>
			</section>
			<section class="notable-projects-section">
				<div class="sectionTitle">
					<h2>Notable Projects</h2>
				</div>

				<div class="sectionContent">
					{{#each notableProjects}}
					<article>
						<h3>{{title}}</h3>

						{{#each description}}
						<p>{{this}}</p>
						{{/each}}
						<p><span>+ </span> <span class="tech">{{tech}}</span></p>
					</article>

					{{#ifThird @index}}
					<br>
					<br>
					<br>
					<br>
					
					{{/ifThird}}

					{{/each}}
				</div>
				<div class="clear"></div>
			</section>
			<section class="other-projects-section">
				<div class="sectionTitle">
					<h2>Other Projects</h2>
				</div>

				<div class="sectionContent">
					<ul class="notable-projects section-marked-list">
						{{#each projects}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				</div>
				<div class="clear"></div>
			</section>
			<section class="key-skills">
				<div class="sectionTitle">
					<h2>Key Skills</h2>
				</div>

				<div class="sectionContent">
					{{#each skills}}
					<ul {{#if @first}}class="section-marked-list" {{/if}} {{#unless
						@first}}class="section-marked-list plus" {{/unless}}>
						{{#each this}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
					{{/each}}

				</div>
				<div class="clear"></div>
			</section>
			<section>
				<div class="sectionTitle">
					<h2>Interests</h2>
				</div>

				<div class="sectionContent">
					<ul class="other-interests section-marked-list">
						{{#each others}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				</div>
				<div class="clear"></div>
			</section>
			<section>
				<div class="sectionTitle">
					<h2>Languages</h2>
				</div>

				<div class="sectionContent languagesSection">
					{{#each languages}}
					<article>
						<h3>{{language}}</h3>
						<p class="">{{level}}</p>
					</article>
					{{/each}}
				</div>
				<div class="clear"></div>
			</section>
			<section>
				<div class="sectionTitle">
					<h2>Education</h2>
				</div>
				<div class="sectionContent">
					{{#each educations}}
					<article>
						<h3>{{name}}</h3>
						<p class="">{{qualification}}</p>
						<p>{{description}}</p>
					</article>
					{{/each}}
				</div>
				<div class="clear"></div>
			</section>
		</div>
	</div>
</body>

</html>